{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Products{% endblock %}</h1> 

{% endblock %}

{% block content %}
<header>
    <body>
        <!--carousel indicators starts here-->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item " style="background-image: url('https://images.unsplash.com/photo-1471174617910-3e9c04f58ff5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3 class="display-4">Mercedes Benz</h3>
                        <p class="lead">Skid Control System</p>
                    </div>
                </div>

                <div class="carousel-item active" style="background-image: url('https://images.unsplash.com/photo-1563339018-51d1ef22f402?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3 class="display-4">Audi</h3>
                        <p class="lead">Electronic Stability</p>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1535745425003-d41f0bcca956?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3 class="display-4">Volkswagen</h3>
                        <p class="lead">Remoteless connectivity</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
   {% for product in products %}
     <style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>   
        <form method="post">
            <input hidden type='text' name="product_id" value={{ product['id'] }} />
        
        <div class="container mt-4">
                
                <div class="card text-center pb-2 mb-4">
            
                    <div class="row">
                       <img class="img-thumbnail w3-animate-zoom center" src=../../{{ product['image'] }} width="200" height="50" />
                         <div id="product"  class="col-lg-3 col-md-4 col-xs-6 thumb w3-content w3-section">
                      
    
                       
                            <h1>Brand:{{ product['name'] }}</h1>            
                            <h2>{{ product['description'] }}</h2>
                            <h3>Price:&euro;{{ product['price'] }}</h3>            
                            <h4>Quantity:{{ product['stock'] }}</h4>
                            <input type="submit" name="submit_button" onclick="alert('Added to Cart!!!')" value="add to cart" class="btn-primary" />
                            
                            
        </div>
        </div>
</div>        
        </form>
    {% endfor %}
{% endblock %}  